#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.airtable-wrapper {
  float: right;
  width: 300px; /* Adjust the width as needed */
  border: 1px solid #ccc;
  padding: 10px;
  margin-left: 20px; /* Add some margin to separate from other content */
}
