#root {
  width: 100%; /* Ensure the root element takes up the full width of the viewport */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
}

h1 {
  align-self: flex-start; /* Align h1 to the start (left) */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.read-the-docs {
  color: #888;
}

.airtable-wrapper {
  border: 1px solid #ccc;
  padding: 10px;
  margin-left: 20px;
}

.card {
  padding: 2em;
}

.card ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
}

.card li {
  margin-bottom: 1em; /* Add spacing between list items */
}

.card li strong em {
  font-style: italic;
  font-weight: bold;
}

.card li strong {
  font-weight: bold;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  height: 100vh; /* Set height to fill the viewport height */
  overflow-y: auto; /* Allow vertical scrolling if content exceeds viewport height */
  width: 100%;
}



.summary-airtable-wrapper {
  width: 100%; /* Ensure the wrapper takes up the full width */
  display: flex;
  margin-bottom: 80px; /* Add margin at the bottom */
}

.summary-box p{
  text-align: center; /* Center text inside the summary box */
}

h2 {
  text-align: center;
  font-weight: 500;
}

.summary-box,
.airtable-wrapper {
  flex: 1; /* Make both components grow to fill the available horizontal space */
  border: 1px solid #ccc;
  padding: 10px;
  margin: 0 10px; /* Add margin around both components */
}

.main-content {
  max-width: 1280px; /* Set maximum width */
  width: 100%; /* Ensure the main content takes up the full width */
  margin: 0px auto; /* Center main content */
}

.header {
  width: 100%; /* Ensure the header takes up the full width */
  display: flex;
  justify-content: flex-start; /* Align header to the top left */
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: smaller;
}

.button-container {
  width: 100%; /* Ensure the button container takes up the full width */
  display: flex;
  justify-content: center; /* Align button to the center */
  margin-bottom: 30px;
}

.airtable-box {
  display:flex;
  margin-bottom: -50px;
  margin-top: 0px;
}

