

.countdown .content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:auto;
    gap: 30px;
}

.countdown .box{
    width: calc(100% /3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    max-width: 150px;
}

.countdown .value{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 100px;
    height: 100px;
    position: relative;
    box-shadow: -2px 0px 5px 1px;
    font-size: 48px;
    color: #3b3838;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.countdown .label {
    color: #3b3838;

}
.countdown span{
    font-weight: 700;

}

button {
    width: 100%; /* Ensure the button container takes up the full width */
    display: flex;
    justify-content: center; /* Align button to the center */
    margin-bottom: 30px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .timeup {
    background-color: #cc535f; /* Red background color */
    color: #fff; /* White text color */
    padding: 10px; /* Add padding for better visibility */
    border-radius: 5px; /* Add border radius for rounded corners */
    text-align: center; /* Center the text */
    font-size: 18px; /* Adjust font size */
    margin-top: 20px; /* Add margin for spacing */
  }
  